.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    text-align: center;
    /* center text inside paragraphs */
}

.title {
    font-family: "Kamerik 205 Book";
    font-size: 40px;
    color: #f5e613;
    font-weight: bolder;
}